html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 23rem;
}

.footer {
    background-color: darkgoldenrod;
    margin-top: auto;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
}

.slider{
    height: 95vh;
}

.spinner-wrapper {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    height: 60px;
    width: 60px;
}